<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <h1>Tên lớp: <%= clasName %></h1>
    <h2>Danh sách sinh viên:</h2>
    <ul>
        <% students.forEach(e=>{ %>
            <li><%= e %></li>
       <% }) %>
    </ul>
</body>
</html>